<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent It</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>
    <div id="wrapper">
    <div id="app">
        <div id="alert-bar">
            <a id="alert" href="index.html"><div id="covid"> Covid-19 Response & Regulations</div></a>
        </div>
        <nav>
            <a href="index.html" id="logo"><img src="./images/rent_items_logo.jpg" alt="logo" height="60px"></a>
            <ul id="myNav">
                <li><a href="index.html">Home</a></li>
                <li><a href="rent.html">Rent</a></li>
                <li><a href="sign-up.html">Sign Up</a></li>
                <li><a href="login.html">{{currentLogin}}</a></li>
                <li><a href="create.html">Create</a></li>
            </ul>
        </nav>

        <div v-if="!userIn">
            <div id="userLogin" style="display: block; text-align: center;">
                <h2>Login</h2>
                <input type="text" name="eposta" placeholder="Email" autocomplete="false" v-model="loginEmail">
                <input type="password" name="sifre" placeholder="Password" v-model="loginPassword">
                <button id="submit" v-on:click="loginUser">Submit</button>
            </div>
        </div>
        <div v-else>
            <div id="userLogin" style="display: block; text-align: center;">
                <h2>Logout</h2>
                <button id="submit" v-on:click="logoutUser">Submit</button>
            </div>
        </div>
</div>
    <footer>
        <li><a href="index.html" id="foot-home">Home</a></li>
        <li><a href="rent.html" id="foot-rent">Rent</a></li>
        <li><a href="sign-up.html" id="foot-sign">Sign Up</a></li>
        <li><a href="login.html" id="foot-login">Login</a></li>
        <div id="copy_right">&copy; 2021</div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="script.js"></script>
<script>
    	$(document).ready(function(){
		$('.sign_in').click(function(){
			$('.login').addClass('active')
			$('.welcome').addClass('active')
			$('.sign_in').addClass('active')
			$('.btn').addClass('active')
			$('.sign_up').addClass('active')
		})
		$('.btn').click(function(){
			$('.sign_up').removeClass('active')
			$('.login').removeClass('active')
			$('.welcome').removeClass('active')
			$('.sign_up').removeClass('active')
			$('.btn').removeClass('active')
			$('.sign_in').removeClass('active')
		})
	})    
</script>
</html>



