<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent It</title>
    <link rel="stylesheet" href="icons/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="rent.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <!-- <form method="post" action="process.php" > -->
            <form action="/items/email" method="POST" enctype="multipart/form-data" style="text-align: center;">
                <h2>Please fill in the form below</h2>

                <input id="first-name" type="text" required placeholder="First name" name="First-Name" style="">
                <br>
                <input type="text" required placeholder="Last name" name="Last-Name">
                <br>
                <input id="eml" type="email" required placeholder="email@" name="Email">
                <br>
                <input id="tel" type="tel" placeholder="Phone Number" name="Phone-Number">
                <br>
                <textarea rows="6" required placeholder="Message" name="Message"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>

</head>
<body>
    <div id="wrapper">
        <div id="app">
        <div id="alert-bar">
            <a id="alert" href="index.html"><div id="covid"> Covid-19 Response & Regulations</div></a>
        </div>
        <nav>
            <a href="index.html" id="logo"><img src="./images/rent_items_logo.jpg" alt="logo" height="60px"></a>
            <ul id="myNav">
                <li><a href="index.html">Home</a></li>
                <li><a href="rent.html">Rent</a></li>
                <li><a href="sign-up.html">Sign Up</a></li>
                <li><a href="login.html">{{currentLogin}}</a></li>
                <li><a href="create.html">Create</a></li>
            </ul>
        </nav>
            <div class="wrap">
                <div class="search">
                   <input type="text" class="searchTerm" placeholder="What are you looking for?">
                   <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
             </div>
            <div id="items-rent-area">     
                <div v-for="item in items">
                    <div v-if="item.rented != true">
                        <div class="item"> 
                            <div v-if="activityimg">
                                <img v-bind:src="'uploads/' + item.image" class="picture" height="200" width="200"/><br>
                            </div>
                            <div v-if="toolimg">
                                <img v-bind:src="'uploads/' + item.image" class="picture" height="200" width="200"/><br>
                            </div>
                            <div v-if="technologyimg">
                                <img v-bind:src="'uploads/' + item.image" class="picture" height="200" width="200"/><br>
                            </div>
                            <div class="name"> {{ item.name }} </div>
                            <div class="price"> ${{ item.price }}.00</div>
                            <div class="description"> {{item.description}}</div>
                            <button type="submit" id="rent-button" class="rent-button" v-on:click="rentItem(item)">Purchase</button>
                        </div>
                    </div>
                    <div v-else>
                        <button id="show-modal" @click="showModal = true" v-on:click="emailRentor(item)">Email User</button>
                        <!-- use the modal component, pass in the prop -->
                        <modal v-if="showModal" @close="showModal = false">
                              <!--
                            you can use custom content here to overwrite
                            default content
                            -->
                                <h3 slot="header">Email Rentor</h3>
                            </modal>
                        <!-- <button v-on:click="emailRentor(item)">Email User</button> -->
                        <button v-on:click="unrentItem(item)">Unrent Item {{item.name}}</button>
                    </div>
                </div>     
            </div>
            <div id="settings">
                <div id="category">
                    <h2 class="header2">Category</h2>
                    <div id="showOp" class="options" style="list-style-type: none;">
                        <button v-on:click="displayActivities" id="submit" class="button" ><li >Activities</li></button><br><br>
                        <button v-on:click="displayTools" style="font-size: 22px;" class="button"><li>Tools</li></button><br><br>
                        <button v-on:click="displayTechnologies" style="font-size: 22px;" class="button"><li>Technology</li></button>
                    </div>
                </div>
            </div>
    </div>
    <footer>
        <li><a href="index.html" id="foot-home">Home</a></li>
        <li><a href="rent.html" id="foot-rent">Rent</a></li>
        <li><a href="sign-up.html" id="foot-sign">Sign Up</a></li>
        <li><a href="login.html" id="foot-login">Login</a></li>
        <div id="copy_right">&copy; 2021</div>
    </footer>
</body>

<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js"></script>
<script src="script.js"></script>
</html>